{% extends "base.html" %}
{% load i18n %}
{% block extra_links %}
    <!-- Le styles -->
    <link href="{{ STATIC_PREFIX }}css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    <link href='http://fonts.googleapis.com/css?family=Crafty+Girls' rel='stylesheet' type='text/css'>
    <link href="{{ STATIC_PREFIX }}css/bootstrap-responsive.css" rel="stylesheet" media="min-width: 980px">
    <link href="{{ STATIC_PREFIX }}css/main.css" rel="stylesheet">
{% endblock %}
{% block extra_scripts %}
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script type="text/javascript" src="{{ STATIC_PREFIX }}js/jquery.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_PREFIX }}js/textualizer.js"></script>
    <script type="text/javascript" src="{{ STATIC_PREFIX }}js/index.js"></script>
{% endblock %}
{% block body %}
  <div class="container">
    <div class="hero-unit">
      <!-- Main hero unit for a primary marketing message or call to action -->
        <div id="lemmas">
            <ul class="unstyled">
                <li><p><span class="label label-info label-inline">Play</span> your courses for the highest score</p></li>
                <li><p><span class="label label-warning label-inline">Learn</span> through different activities</p></li>
                <li>
                    <p><span class="label label-success label-inline">Grade!</span>
                    <span class="name">Dr. Glearning</span> does it for you
                    </p>
                </li>
            </ul>
            <br>
            <div id="logoandbuttons">
                <div id="buttons">
                    <a class="create" href="https://itunes.apple.com/us/app/dr.-glearning/id587558631">
                      <img src="{{ STATIC_PREFIX }}img/badge_ios.png" alt="{% trans "Available on App Store" %}" />
                    </a>
                    <a class="create" href="https://play.google.com/store/apps/details?id=ca.cultureplex.drglearning">
                      <img src="{{ STATIC_PREFIX }}img/badge_android.png" alt="{% trans "Get it on Google Play" %}" />
                    </a>
                    <a class="btn btn-warning btn-large create" href="/admin/">{% trans "Create Courses" %}</a>
                    <a class="btn btn-success btn-large create" href="/client/">{% trans "Play On-line" %}</a>
                    {% trans "Soon on" %} <a class="link" href="https://marketplace.firefox.com/app/drglearning/">{% trans "Firefox Marketplace" %}</a>
                </div>
            </div>
            {% comment %}
            <br/>
            <p>Anywhere, anytime on your <a>smartphone</a> or <a>tablet</a></p>
            {% endcomment %}
        </div>

        <div style="text-align: left; width: 380px;">
            <div id="slogan">
                <span class="play">Play,</span>
                <span class="learn">Learn,</span>
                <span class="grade">Grade!</span></div>
                <div style="text-align: center;" id="drglearning">
                    <img src="{{ STATIC_PREFIX }}img/drglearning_beta.png" width="244px" >
                </div>
            <h1 class="name">Dr. Glearning</h1>
        </div>

        <h2>
          {% block content_title %}
            <div id="question">{% trans "How much do you know about" %}</div>
            <div id="txtlzr"></div>
          {% endblock %}
        </h2>
        {% block content %}
        <div class="container">
            <div id="sample">
                    <img src="{{ STATIC_PREFIX }}img/screenshoot-1.png" width="200px">
                    <img src="{{ STATIC_PREFIX }}img/screenshoot-2.png" width="200px">
                    <img src="{{ STATIC_PREFIX }}img/screenshoot-4.png" width="200px">
                    <img src="{{ STATIC_PREFIX }}img/screenshoot-5.png" width="200px">
            </div>

        </div>
        <form action="https://docs.google.com/spreadsheet/formResponse?formkey=dEJaVUtZVFV6MXBRanp0TjUzNWM3Y3c6MQ&amp;embedded=true&amp;ifq" method="POST" id="ss-form">
{% comment %}
        <div >
          <h3>Be the first to test the <a href="/client/">app</a>!<span style="font-size: 13px; color: grey"> With <a href="https://www.google.com/chrome">Gloogle Chrome</a> and <a href="http://ripple.tinyhippos.com/download">Ripple Emulator</a>.</span></h3>
        </div>
{% endcomment %}
          <br>
          <h3>{% trans "Stay tuned!" %}</h3>
          <div class="legend" >{% trans "We are almost ready to open the free registration for creating courses, but in the mean time" %}</div>
          <input type="text" name="entry.0.single" value="" class="ss-q-short" id="entry_0" placeholder="{% trans "Leave us your e-mail" %}">
          <input type="submit" name="submit" class="btn okbutton" value="{% trans 'OK!' %}">
          <input type="hidden" name="pageNumber" value="0">
          <input type="hidden" name="backupCache" value="">
          <label class="helptext" for="entry_0">{% trans "Your e-mail won't be used for any porpuse than notify you when the platform becomes available" %}</label>
        </form>
        {% endblock %}
    </div>

{% comment %}
      <!-- Example row of columns -->
      <hr>
      <div class="row qrcodes">
        <div class="span3" id="apps">
          <h2>{% trans "iOS" %}</h2>
          <div class="qrcode"><a href="https://build.phonegap.com/apps/57075/download/ios/?qr_key=tTE6zQoieb7CU73qt2Ps">
            <img src="{{ STATIC_PREFIX }}img/ios.png">
        </a></div>
          <p><a class="btn download" href="https://build.phonegap.com/apps/57075/download/ios/?qr_key=tTE6zQoieb7CU73qt2Ps"><text class="downloadtext">{% trans "Download" %} &raquo; </text><span class="platform">{% trans "ipa" %}</span></a></p>
        </div>
        <div class="span3">
          <h2>{% trans "Android" %}</h2>
          <div class="qrcode"><a href="https://build.phonegap.com/apps/57075/download/android/?qr_key=tTE6zQoieb7CU73qt2Ps">
            <img src="{{ STATIC_PREFIX }}img/android.png">
          </a></div>
          <p><a class="btn download" href="https://build.phonegap.com/apps/57075/download/android/?qr_key=tTE6zQoieb7CU73qt2Ps"><text class="downloadtext">{% trans "Download" %} &raquo; </text><span class="platform">{% trans "apk" %}</span></a></p>
        </div>
        <div class="span3">
          <h2>{% trans "BlackBerry" %}</h2>
          <div class="qrcode"><a href="https://build.phonegap.com/apps/57075/download/blackberry/?qr_key=tTE6zQoieb7CU73qt2Ps">
            <img src="{{ STATIC_PREFIX }}img/ios.png">
          </a></div>
          <p><a class="btn download" href="https://build.phonegap.com/apps/57075/download/blackberry/?qr_key=tTE6zQoieb7CU73qt2Ps"><text class="downloadtext">{% trans "Download" %} &raquo; </text><span class="platform">{% trans "OTA" %}</span></a></p>
        </div>
        <div class="span3">
          <h2>{% trans "symbian" %}</h2>
          <div class="qrcode"><a href="https://build.phonegap.com/apps/57075/download/symbian/?qr_key=tTE6zQoieb7CU73qt2Ps">
            <img src="{{ STATIC_PREFIX }}img/symbian.png">
          </a></div>
          <p><a class="btn download" href="https://build.phonegap.com/apps/57075/download/symbian/?qr_key=tTE6zQoieb7CU73qt2Ps"><text class="downloadtext">{% trans "Download" %} &raquo; </text><span class="platform">{% trans "wgz" %}</span></a></p>
        </div>
      </div>
      <hr>
{% endcomment %}
      <footer>
        <p>
          &copy; <a href="http://cultureplex.ca/" title="CulturePlex Lab." alt="CulturePlex Lab.">{% trans "CulturePlex Lab." %}</a> {% trans "2012" %} |
          <a href="/support/" title="{% trans "Support" %}" alt="{% trans "Support" %}">{% trans "Support" %}</a>
        </p>
      </footer>

    </div> <!-- /container -->
{% endblock %}
