{% extends "base.html" %}
{% load i18n %}
<!DOCTYPE html>
{% block extra_links %}
    <!-- Le styles -->
    <link href="{{ STATIC_PREFIX }}css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    <link href="{{ STATIC_PREFIX }}css/bootstrap-responsive.css" rel="stylesheet">
    <link href="{{ STATIC_PREFIX }}css/main.css" rel="stylesheet">
{% endblock %}
{% block extra_scripts %}
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script type="text/javascript" src="{{ STATIC_PREFIX }}js/jquery.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_PREFIX }}js/textualizer.js"></script>
    <script type="text/javascript" src="{{ STATIC_PREFIX }}js/index.js"></script>
{% endblock %}
{% block body %}
  <div class="container">
    <div class="hero-unit">
      <!-- Main hero unit for a primary marketing message or call to action -->
        <h1>Dr. Glearning</h1>
        <h2>
          <div id="question">{% trans "How much do you know about" %}</div>
            <div id="txtlzr"></div>
        </h2>
        <div class="container">
            <div id="sample">
                    <img src="{{ STATIC_PREFIX }}img/screenshoot-1.png" width="200px">
                    <img src="{{ STATIC_PREFIX }}img/screenshoot-2.png" width="200px">
                    <img src="{{ STATIC_PREFIX }}img/screenshoot-4.png" width="200px">
                    <img src="{{ STATIC_PREFIX }}img/screenshoot-5.png" width="200px">
            </div>
            <div id="logoandbuttons">
                <div id="drglearning">
                    <img src="{{ STATIC_PREFIX }}img/drglearning.png" width="244px" >
                </div>
                <div id="buttons">
                    <a class="btn btn-primary btn-large create" href="/admin/">{% trans "Create Courses" %} &raquo;</a>
                    <a class="btn btn-primary btn-large create" href="#apps">{% trans "Download App" %} &raquo;</a>
                </div>
            </div>
        </div>
    </div>

      <!-- Example row of columns -->

      <div class="row qrcodes">
        <div class="span3" id="apps">
          <h2>{% trans "iOS" %}</h2>
          <div class="qrcode"><img src="{{ STATIC_PREFIX }}img/ios.png"></div>
          <p><a class="btn download" href="https://build.phonegap.com/apps/57075/download/ios/?qr_key=tTE6zQoieb7CU73qt2Ps"><text class="downloadtext">{% trans "Download" %} &raquo; </text><span class="platform">{% trans "ipa" %}</span></a></p>
        </div>
        <div class="span3">
          <h2>{% trans "Android" %}</h2>
          <div class="qrcode"><img src="{{ STATIC_PREFIX }}img/android.png"></div>
          <p><a class="btn download" href="https://build.phonegap.com/apps/57075/download/android/?qr_key=tTE6zQoieb7CU73qt2Ps"><text class="downloadtext">{% trans "Download" %} &raquo; </text><span class="platform">{% trans "apk" %}</span></a></p>
        </div>
        <div class="span3">
          <h2>{% trans "BlackBerry" %}</h2>
          <div class="qrcode"><img src="{{ STATIC_PREFIX }}img/ios.png"></div>
          <p><a class="btn download" href="https://build.phonegap.com/apps/57075/download/blackberry/?qr_key=tTE6zQoieb7CU73qt2Ps"><text class="downloadtext">{% trans "Download" %} &raquo; </text><span class="platform">{% trans "OTA" %}</span></a></p>
        </div>
        <div class="span3">
          <h2>{% trans "symbian" %}</h2>
          <div class="qrcode"><img src="{{ STATIC_PREFIX }}img/symbian.png"></div>
          <p><a class="btn download" href="https://build.phonegap.com/apps/57075/download/symbian/?qr_key=tTE6zQoieb7CU73qt2Ps"><text class="downloadtext">{% trans "Download" %} &raquo; </text><span class="platform">{% trans "wgz" %}</span></a></p>
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; <a href="http://cultureplex.ca/" title="CulturePlex Lab." alt="CulturePlex Lab.">{% trans "CulturePlex Lab." %}</a> {% trans "2012" %}</p>
      </footer>

    </div> <!-- /container -->
{% endblock %}
