{% extends "admin/change_form.html" %}

{% block after_field_sets %}
<ul>
<h2>Career activities</h2>
{% for level, activities in activities_by_level %}
<h3>{{level}}</h3>
{% for activity, type in activities %} 
    <li>{{ activity.level_order }}. {{ activity.name|title }} ({{ type|title }})
    <a class="changelink" href="/admin/activities/{{type}}/{{activity.id}}/" onclick="return showAddAnotherPopup(this);">Edit</a>
    <a class="deletelink" href="/admin/activities/{{type}}/{{activity.id}}/delete/">Delete</a></li>
{% endfor %}
{% endfor %}
</ul>
<h3>Add new activities</h3>
<ul>
    <li><a href="/admin/activities/geospatial/add/" class="addlink" onclick="return showAddAnotherPopup(this);">Geospatial</a></li>
    <li><a href="/admin/activities/relational/add/" class="addlink" onclick="return showAddAnotherPopup(this);">Relational</a></li>
    <li><a href="/admin/activities/temporal/add/" class="addlink" onclick="return showAddAnotherPopup(this);">Temporal</a></li>
    <li><a href="/admin/activities/linguistic/add/" class="addlink" onclick="return showAddAnotherPopup(this);">Linguistic</a></li>
    <li><a href="/admin/activities/visual/add/" class="addlink" onclick="return showAddAnotherPopup(this);">Visual</a></li>
</ul>
{% endblock %}


