body {
    margin-top: 1.0em;
    background-color: #ffffff;
    background: url("../img/bg.png") repeat scroll 0 0 transparent;
    color: #333333;
}
h1 {
    font-size: 60px;
    margin-bottom: 20px;
    padding: 0;
    text-shadow: 0 1px 0 #FFFFFF;
}
#sample
{
    float:left;
    margin-left: 12px;
}
#logoandbuttons
{
}
#buttons
{
    width:90%;
    margin: 0px auto;
    margin-top: 21px;
}
#apps {
    margin-bottom:15px;
}
#txtlzr {
    padding-left:9px;
    width: 300px;
    height: 40px;
}
#question {
    margin-top:3px;
    float:left;
}
.qrcode
{
    padding: 10px 0px 10px 0px;
}
.qrcodes
{
    padding: 0px;
}
.platform
{
   float:right;
}
.download
{
   width:130px;
}
.downloadtext
{
   float:left;
}
.create
{
/*   width:220px;*/
/*   margin:5px;*/
    width: 120px;
    margin: 5px 10px 5px 0px;
}
.helptext {
    vertical-align: top;
    display: block;
    font-style: italic;
    color: gray;
    font-size: 0.8em;
}
.button {
    vertical-align: top;
    display: block;
    font-style: italic;
    color: gray;
    font-size: 0.8em;
}
.okbutton {
    vertical-align: top;
    display: block;
    font-style: italic;
    color: gray;
    font-size: 0.8em;
}
.ss-q-short{
    margin-bottom:-2px;
}
.legend{
    margin-bottom:5px;
}

.label-inline {
    font-size: inherit;
    vertical-align: inherit;
}

#lemmas {
    float: right;
    position: relative;
    width: 360px;
    margin-top: 30px;
}

#lemmas .name {
    font-family: 'Crafty Girls';
    text-shadow: 0px 0px 1px black;
}

h1.name {
    text-align: center;
    font-family: 'Crafty Girls';
    color: #1A7DFF;
    text-shadow: 1px 1px 1px black;
}

#slogan {
    font-family: 'Crafty Girls';
    position: relative;
    padding-bottom: 15px;
    color: #FF9300;
    text-shadow: 1px 1px 1px #000;
    font-size: 30px;
    text-align: center;
}

#slogan .play {
    color: #1A7DFF;
}

#slogan .learn {
    color: #FF9300;
}

#slogan .grade {
    color: ##3DC444;
}
