.x-panel {
  
}
#titulobarra{
	color: #FFFFFF;
}

#nombrelatin{
	margin-top: 15px;
	margin-left: 10%;
}
#nombreave{
	margin-top: 2px;
	margin-left: 10%;
}
#conteo{
	margin-top: 15px;
	margin-left: 10%;
}
#lugar{ 
	background: #ffffcc; 
	text-align: center;
	font-size: 12px;
	width: 76%;
	margin-left: 12%;
	margin-top: 15px;
}
#descripcion{ 
	font-size: 12px;
	background: #ffffcc; 
	text-align: center;
	width: 76%;
	margin-left: 12%;
	margin-top: 15px;
}
#fecha{ 
	font-size: 12px;
	background: #ffffcc; 
	text-align: center;
	width: 76%;
	margin-left: 12%;
	margin-top: 15px;
}
#leyendamapa{ 
	font-size: 12px;
	margin-left: 10%;
	margin-top: 15px;
}
#mapa{ 
	margin-left: 12%;
	margin-top: 15px;
}
#botones{
	margin-left:35%;
	margin-top: 15px;
	top:0px;
	left:0px;

}
#editar{
	background-image:url('../img/botones/editarAvist.png');
	width:58px;
	height:51px;
	float:left;
	top:0px;
	left:0px;

}
#borrar{
	background-image:url('../img/botones/borrarAvist.png');
	width:58px;
	height:51px;
	float:left;
	top:0px;
	left:0px;

}
#botonatras{
	
	background-image:url('../img/botones/BotonAtras.png');
	width:83px;
	height:32px;
}
#botonanterior{
	
	background-image:url('../img/botones/FlechaIzq.png');
	width:51px;
	height:34px;
}
#botonsiguiente{
	
	background-image:url('../img/botones/FlechaDer.png');
	width:51px;
	height:34px;
}
#titulobarra{
	float:left;
	
}
#listimagen{
	/*width:50px;
	height:50px;*/
	float:left;
}
#listarriba{
	/*margin-left:60px;*/
}
#listabajo{
	/*margin-left:60px;*/
	font-size: 12px;

}
.barraseo{
	background-image:url('../img/fondos/BarraSEOBird.png');
}
.barraavistadetail{
	background-image:url('../img/fondos/BarraNegra.png');
}
.barraavistadetail>div
{
	float:left;
}

